.sidebar_button {
  color: white;
  margin: 0.1cm 0.1cm;
  font-size: 0.6cm;
  display: inline-block;
  transform: scaleY(0.6);
  transform-origin: 0 0;
  width: 2cm
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0.0cm;
  background-color: #202020;
  transition: 0.5s;
  overflow: hidden;
}

.sidebar p {
  position: absolute;
  right: 0px;
  color: white;
  font-size: 10px;
  left: 2%;
  width: 200px;
}

.number_box {
  position: absolute;
  right: 10px;
  margin-top: 0.3cm;
  margin-bottom: 0.3cm;
  width: 1.3cm;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 8px;
  border-radius: 5px;
  border: 0.1px solid;
  outline: none;
}

#letter_input_header {
  top: 2px;
}

#letters_input {
  position: relative;
  top: 10px;
  left: 10px;
  right: 10px;
  width: 180px;

  margin-top: 0.15cm;
  margin-bottom: 0.15cm;
  font-size: 10px;
}

#time_limit_header {
  top: 45px;
}

#time_limit_input {
  top: 30px;
}

#must_use_letters_header {
  top: 75px;
}

#must_use_letters_input {
  top: 60px;
}

#word_length_header {
  top: 105px;
}

#word_length_input {
  top: 90px;
}

#randomize_header {
  top: 140px;
}

#randomize_button {
  position: absolute;
  top: 133px;
  right: 20px;
  background: transparent;
  color: white;
  border: hidden;
}
